

label{
    display:block;
}

.book-table table{
    width:100%;
}

.book-table table td{
    border-bottom:1px solid gray;
    padding:10px;
}

.book-table table thead{
    background: black;
    color:white;
}


.book-form fieldset{
    width:100%;
}

.primary{
    background-color:lightgreen;
    width:80px;
    
}

.danger{
    background-color:lightcoral;
    width:80px;
    
}

.risky{
    color:rgb(226, 56, 56)
}